// Css styles for the topbar
@import 'constants';

#bottom-bar {
  background-color: $dark-grey;
  line-height: 3rem;
  text-align: center;
  color: $light-grey;
  font-size: 1.2em;

  p {
    display: inline-block;
    margin: 0 0 0 1rem;
    text-align: left;
  }

  a {
    display: inline-block;
    margin: 0;
    padding: .2rem 1rem;
    border-radius: 5px;

    &:hover { background-color: $hover-grey; }

    img {
      height: 24px;
      width: 24px;
      vertical-align: middle;
    }
  }
}