// colors, font sizes, etc to use across the application

// Colors
$black: #000000;
$light-grey: #F0F6FC;
$dark-grey: #363636;
$hover-grey: #505050;
$dark-green: #0a5219;
$hover-green: #0F7824;
$error-red: #cc1821;

// Font Sizes
$standard-font-size: 16px;
$large-font-size: 20px;
$logo-font-size: 30px;
$title-font-size: 40px;

// Spaces
$standard-space: .5rem;
$large-space: 2rem;

// Fonts
@font-face {
  font-family: 'Capture it';
  src: font-url('capture_it.ttf') format('truetype');
}