// colors, font sizes, etc to use across the application

// Colors
$black: #000000;
$light-grey: #cfcfcf;
$dark-grey: #858585;

// Font Sizes
$standard-font-size: 1em;
$large-font-size: 1.6em;
$title-font-size: 2em;

// Spaces
$standard-space: .2rem;
$large-space: 2rem;