// application wide styles
@import 'constants';

html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: $dark-grey;
  background-size: cover;
}

a {
  text-decoration: none;
  color: $light-grey;

  :visited {
    color: $light-grey;
  }
}

#main {
  margin: 0px;
  padding-top: 1rem;
  color: $black;
  height: 100vh;
  width: 100vw;
  background-image: image-url('farm_background.jpg');
  background-size: cover;
  background-position-x: center;
}

.title {
  text-align: center;
  font-size: $title-font-size;
}

.button {
  margin: 1rem;
  background-color: $dark-grey;
  font-size: $large-font-size;
  display: inline-block;
  width: 10rem;
  padding: .5rem;
  color: $light-grey;
  border-radius: 5px;

  &:hover {
    background-color: $hover-grey;
  }
}

.content {
  margin: 2rem 3rem 2rem 3rem;
  padding: 2rem;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  min-height: 500px;
}