// Css styles for the topbar
@import 'constants';

#topbar {
  margin: 0;
  width: 100vw;
  background-color: $dark-grey;
  color: $light-grey;
  padding-left: 1rem;
  height: 4rem;
  position: relative;
  top: 0px;
  display: flex;

  p, a {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
  }

  .logo {
    font-size: $logo-font-size;
    line-height: 4rem;
    padding: 0 .5rem;
    border-radius: 5px;
    vertical-align: top;
    font-family: 'Capture it';
  
    &:hover { background-color: $hover-grey; }
  }

  #menu, .log-in, .sign-up, .log-out {
    font-size: $large-font-size;
    vertical-align: top;
    line-height: 4rem;
    padding: 0 1rem;
    border-radius: 5px;

    &:hover { background-color: $hover-grey; }
  }

  .dropdown, .user-dropdown {
    position: absolute;
    background-color: $dark-grey;
    left: 9.7rem;
    border-radius: 0 0 .4rem .4rem;
    display: none;
    top: 4rem;

    &:hover {
      display: inherit;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        font-size: 1rem;
        padding: .25rem .5rem;
        border-radius: 5px;

        &:hover { background-color: $hover-grey; }

        a {
          width: 100%;
        }
      }
    }
  }

  .icon-div {
    display: inline-block;
    margin-left: auto;
    margin-right: 0px;
    padding-right: 3rem;
  }

  .user-icon {
    height: 3rem;
    padding: .5rem;
    border-radius: 5px;

    &:hover { background-color: $hover-grey; }
    &:hover + .user-dropdown {
      display: block;
    }
  }

  .user-dropdown {
    left: unset;
    right: 2.9rem;
    display: none;

    p, a {
      font-size: 1rem;
      padding: 0.25rem 0.5rem;
      line-height: unset;
      width: -moz-available;          /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
      width: fill-available;
    }
  }

  #menu {
    cursor: default;

    &:hover + .dropdown {
      display: inherit;
    }
  }
}